
body {
  background: #3A3539;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

main {
  border: 1px solid #3A3539;
  width: 650px;
  margin: auto;
/*padding-left: 500px;*/
}

p {
  font-size: 15px;
  color: white;
  padding-top:10px;
  margin-right: 50px;
  padding: 0;

}

h1  {
  color: white;
  margin: 0;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

ol li {
  color: white;
  margin: 0;
  position: relative;
}

a {
  color: white;
}

summary {
  color: white;
}

.hero {
  background: url('../images/lunes-de-fuego-png.jpg');
  height: 400px;
}

img {
 border-radius: 20px;
}

.form {
  
}

input {
  background-color: #3A3539;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
/*border-left: 5px;*/
}

.form input[type="submit"] {
  background: #157EFB;
  border: none;
}

a {
 /*border: 1px solid red;*/
 text-decoration: none;
 margin: 0;
}


header {
  position: absolute;
  left: 30px;
  margin-top: 50px;
}

.section-content ol li {
  line-height: 50px;
}

ol {
  line-height: 24px;
}
summary {
  margin:0;
}
 
.tag {
  border: 1px solid red;
}






 
